<div class="container-fluid">
    <div class="row">
        <div class="col-6 d-flex justify-content-start">
            <button type="button" class="btn btn-secondary"><b>Main Menu</b></button>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <h1>1/(Max Rounds)</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <h1>Best of (max rounds)</h1>
        </div>
        
        
    </div>
    <div class="row d-flex justify-content-center text-center">
        <div class="col-12">
            <h2>Choose your best hand</h2>
        </div>
        <div class="col-2 ">
            <p class="selection">✊</p>
        </div>
        <div class="col-2">
            <p class="selection">✋</p>
        </div>
        <div class="col-2">
            <p class="selection">✌️</p>
        </div>
        <div class="col-2">
            <p class="selection">🤏</p>
        </div>
        <div class="col-2">
            <p class="selection">🖖</p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-6">
            <h2>Player 1: (pts)</h2>
        </div>
        <div class="col-6">
            <h2>Player 2: (pts)</h2>
        </div>
    </div>
    <!--Displays after round has finished-->
    <div class="row d-flex justify-content-center text-center">
        <div class="col-12 pb-5">
            <h3>(User) Wins</h3>
        </div>
        <div class="col-12 pb-5">
            <h3>Player 1: (Hand name)</h3>
        </div>
        <div class="col-12 pb-5">
            <h3>Player 2: (Hand name)</h3>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-secondary"><b>Next Round</b></button>
        </div>
    </div>
</div>

