<button type="button" class="btn btn-secondary">Main Menu</button>

<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <h1>Best of (max rounds)</h1>
        </div>
        
        
    </div>
    <div class="row d-flex justify-content-center text-center">
        <div class="col-12">
            <h2>Choose your best hand</h2>
        </div>
        <div class="col-2 ">
            <p class="selection">✊</p>
        </div>
        <div class="col-2">
            <p class="selection">✋</p>
        </div>
        <div class="col-2">
            <p class="selection">✌️</p>
        </div>
        <div class="col-2">
            <p class="selection">🤏</p>
        </div>
        <div class="col-2">
            <p class="selection">🖖</p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-6">
            <h2>Player 1: (pts)</h2>
        </div>
        <div class="col-6">
            <h2>Player 2: (pts)</h2>
        </div>
    </div>
    
    <!-- <div class="row d-flex justify-content-center text-center">
        <div class="col-12">
            <h3>(User) Wins</h3>
        </div>
        <div class="col-12">
            <h3>Player 1: (Hand name)</h3>
        </div>
        <div class="col-12">
            <h3>Player 2: (Hand name)</h3>
        </div>
    </div> -->
</div>

