<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-5 center">
            <h2>Best Of {{rounds}}</h2>
        </div>
        
        <div class="col-12 my-5 center">
            <h1>{{winner}}</h1>
        </div>
        
        <div class="col-6 my-5 center">
            <h2>Player 1: {{player1Score}}</h2>
        </div>
        
        <div class="col-6 my-5 center">
            <h2>{{opponent}}: {{player2Score}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center my-5">
            <button class="btn btn-secondary" (click)="goToMain()" >Main Menu</button>
        </div>
    </div>
</div>