<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-5 center">
            <h2>Text Here For Best Of</h2>
        </div>
        
        <div class="col-12 my-5 center">
            <h1>Someone Won!</h1>
        </div>
        
        <div class="col-6 my-5 center">
            <h2>Player 1: Score</h2>
        </div>
        
        <div class="col-6 my-5 center">
            <h2>Player 2/computer: Score</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center my-5">
            <button class="btn btn-secondary" (click)="goToMain()" >Main Menu</button>
        </div>
    </div>
</div>