<div class="container-fluid">
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary">Main Menu</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-5 center">
            <h1>Text Here For Best Of</h1>
        </div>

        <div class="col-6 my-5 center">
            <h2>Player 1: Score</h2>
        </div>

        <div class="col-6 my-5 center">
            <h2>Player 2/computer: Score</h2>
        </div>

        <div class="col-12 center">
            <h3>Who Won?</h3>
        </div>

        <div class="col-12 center">
         <h3>
             Player 1 with pick
         </h3>
        </div>

        <div class="col-12 center">
            <h3>
                Player 2 or Computer pick
            </h3>
        </div>

    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center my-5">
            <button class="btn btn-secondary"><b>Next Round</b></button>
        </div>
    </div>
</div>