<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-secondary"><b>Main Menu</b></button>
        </div>
        <div class="col-12 text-center">
            <h1>Pick Your Round</h1>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col end">
            <button class="btn btn-secondary">Best Of 1</button>
        </div>
        <div class="col center">
            <button class="btn btn-secondary">Best Of 5</button>
        </div>
        <div class="col">
            <button class="btn btn-secondary">Best Of 7</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 pt-5 d-flex justify-content-center">
            <img src="../../../assets/images/file-removebg-preview.png" alt="">
        </div>
    </div>
</div>