<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-secondary" (click)="goToMain()">Main Menu</button>
        </div>
        <div class="col-12 text-center">
            <h1>Pick the number of rounds</h1>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col end">
            <button class="btn btn-secondary" (click)="setNumRounds(1)">Best Of 1</button>
        </div>
        <div class="col center">
            <button class="btn btn-secondary" (click)="setNumRounds(5)">Best Of 5</button>
        </div>
        <div class="col">
            <button class="btn btn-secondary" (click)="setNumRounds(7)">Best Of 7</button>
        </div>
        <div class="col-12">
            <h2 class="text-center">Rules:</h2>
        </div>
        <div class="col-12 d-flex justify-content-center ">
            
            <img src="../../../assets/images/file-removebg-preview.png"  height=550px alt="">
        </div>
    </div>
</div>